bitsandbytes==0.41.2.post2
accelerate==0.7.1
xformers
einops==0.4.0
datasets
loralib
sentencepiece==0.1.95
openai==0.26.1
cohere
python-multipart
kaleido
streamlit==1.13.0
langchain
transformers==4.26.0
huggingface-hub
torch==1.13.1
pypdf
sentence-transformers
chromadb==0.3.3
openai
tiktoken
llmx
