bitsandbytes
accelerate
xformers
einops
datasets
loralib
sentencepiece
openai
cohere
python-multipart
kaleido
streamlit
langchain
transformers
huggingface-hub
torch
pypdf
sentence-transformers
chromadb
openai  
tiktoken
llmx
